doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav 
      header 
        h1 Inventory App 
        ul 
          li 
            a(href='/inventory/category') Show all categories 
          li
            a(href='/inventory/item') Show all items
    block content
